[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
types-obspython = {ref = "29.0.2.2", git = "https://github.com/justjanne/types-obspython"}
mypy = "*"
bmd-hid-device = {ref = "0.1.1", git = "https://github.com/justjanne/bmd-hid-device"}

[dev-packages]

[requires]
python_version = "3.11"
